In [1]:
import pandas as pd
import numpy as np

In [173]:
scraped_scorecard = pd.read_excel(r"C:\Users\mikej\Desktop\fantrax\dg_container_scrape_4.xlsx")

# scraped_scorecard = scraped_scorecard.T.reset_index().rename(columns={'index':'player',0:'scorecard'})
# scraped_scorecard['scorecard'] = scraped_scorecard['scorecard'].str.split("\\")

# headers = pd.Series(scraped_scorecard[:21]).str.replace("n","").replace("",np.NaN).to_list()
# headers
scraped_scorecard

,finau,tosti
0,1\n2\n3\n4\n5\n6\n7\n8\n9\nOUT\n10\n11\n12\n13...,1\n2\n3\n4\n5\n6\n7\n8\n9\nOUT\n10\n11\n12\n13...

In [174]:
scraped_scorecard = scraped_scorecard.T.rename(columns={0:'scorecard'})
scraped_scorecard['scorecard'] = scraped_scorecard['scorecard'].str.split("\\")

# headers = pd.Series(scraped_scorecard[:21]).str.replace("n","").replace("",np.NaN).to_list()
# headers
pd.Series(scraped_scorecard[scraped_scorecard.index=='finau'])

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [172]:
def get_current_player_scorecard(scraped_scorecard):

    scraped_scorecard = scraped_scorecard.T.reset_index().rename(columns={'index':'player',0:'scorecard'})
    scraped_scorecard['scorecard'] = scraped_scorecard['scorecard'].str.split("\\")
    
    # hole numbers
    headers = pd.Series(scraped_scorecard[:21]).str.replace("n","").replace("",np.NaN).to_list()

    # hole pars
    hole_pars = pd.Series(scraped_scorecard[21:42]).str.replace("n","").replace("",np.NaN).to_list()

    # hole_scores
    hole_scores = pd.Series(scraped_scorecard[42:63]).str.replace('nâ€”','').str.replace("n","").replace("",np.NaN).to_list()

    clean_live_scorecard = pd.DataFrame(
        data = [hole_pars,hole_scores],
        columns = headers,
        index=None
    )

    return clean_live_scorecard

In [82]:
players = scraped_scorecard.columns.to_list()

In [142]:
get_current_player_scorecard(scraped_scorecard[0])

KeyError: 0

In [6]:
finau = get_current_player_scorecard(scraped_scorecard)
finau

   1  2  3  4  5  6  7  8  9 OUT  ... 11 12 13 14 15 16 17 18  IN TOT
0  4  3  5  4  4  4  3  5  3  35  ...  3  4  4  4  3  5  4  4  35  70
1  5  3  4  3  4  3  2  3  3  30  ...  3  4  3  4  3  4  4  3  32  62

[2 rows x 21 columns]

In [8]:
tosti = get_current_player_scorecard(scraped_scorecard)
tosti

   1  2  3  4  5  6  7  8  9 OUT  ... 11 12 13 14 15 16 17 18  IN TOT
0  4  3  5  4  4  4  3  5  3  35  ...  3  4  4  4  3  5  4  4  35  70
1  3  3  6  5  4  3  3  5  2  34  ...  3  3  4  4  3  4  4  4  33  67

[2 rows x 21 columns]

In [ ]:
def get_live_gir(scraped_scorecard):
    container_row_9 = pd.Series(container_split[175:]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False)
    container_row_9 = pd.Series(list(filter(None, container_row_9.unique())))
    dist_index = container_row_9[container_row_9 == 'DIST'].index[0]
    current_gir = container_row_9.iloc[:dist_index][1:4].to_list()
    current_fw = container_row_9.iloc[:dist_index][4:]
    return pd.DataFrame(current_gir, columns=['gir'],index=['front','back','total'])

In [ ]:
get_live_gir(scraped_scorecard)

In [ ]:
def get_live_fw(scraped_scorecard):
    container_row_9 = pd.Series(container_split[175:]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False)
    container_row_9 = pd.Series(list(filter(None, container_row_9.unique())))
    dist_index = container_row_9[container_row_9 == 'DIST'].index[0]
    current_fw = container_row_9.iloc[:dist_index][5:].to_list()
    return pd.DataFrame(current_fw, columns=['fw'],index=['front','back','total'])

In [ ]:
get_live_fw(scraped_scorecard)

In [ ]:
# DISTANCE
container_row_11 = pd.Series(container_split[210:]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False).replace("",np.NaN)

In [ ]:
# SG Total
container_row_4 = pd.Series(container_split[64:86]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False).str.replace("+","", regex=False).replace("",np.NaN)

In [ ]:
# SG OTT
container_row_5 = pd.Series(container_split[86:108]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False).str.replace("+","", regex=False).replace("",np.NaN)

In [ ]:
# SG APP
container_row_6 = pd.Series(container_split[108:130]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False).str.replace("+","", regex=False).replace("",np.NaN)

In [ ]:
# SG ARG
container_row_7 = pd.Series(container_split[130:152]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False).str.replace("+","", regex=False).replace("",np.NaN)

In [ ]:
# SG PUTT
container_row_8 = pd.Series(container_split[152:174]).str.replace('nâ€”','', regex=False).str.replace("n","", regex=False).str.replace("+","", regex=False).replace("",np.NaN)